@page "/"   
@inherits ContractsBase

<AuthorizeView>
    <Authorized>
        <h5>Witaj, @userDTO.Username! YOU ARE LOGGED IN</h5>
        <button @onclick="ToggleCreateField" class="btn btn-primary" type="button">Utwórz</button>
    </Authorized>
    <NotAuthorized>
       <p> You are not logged in!</p>
        <br />
        <label for="name">
            Username:<br />
        <input @bind="userDTO.Username" />
            
        </label>
        
        <br />
        <label>
            Password:<br />
        <input @bind="userDTO.Password" />
        </label>

        <br />
        <button @onclick="Login">Login</button>
        <button @onclick="Register">Register</button>
        <br/>
        <br/>
    </NotAuthorized>
    <Authorizing>
        <p>Wait...</p>
    </Authorizing>
</AuthorizeView>

<!-- CREATION FORM-->
@if (showCreate)
{
    <EditForm FormName="Contact" Model="newContact" OnSubmit="Submit">
        <label>FirstName</label> 
        <InputText @bind-Value="newContact.FirstName" />
        <br />
        <label>LastName</label>
        <InputText @bind-Value="newContact.LastName" />
        <br />
        <label>Email</label>
        <InputText @bind-Value="newContact.Email" />
        <br />
        <label>Password</label>
        <InputText @bind-Value="newContact.Password" />
        <br />
        <label>PhoneNumber</label>
        <InputText @bind-Value="newContact.PhoneNumber" />
        <br />
        <label>DateOfBirth</label>
        <input type="date" @bind="newContact.DateOfBirth" />
        <br />
        <label>CategoryName</label>
        <select  @bind="newContact.CategoryId">
            <!-- TODO: switch to InputSelect-->
            @foreach (var category in Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <br />
        <label>SubCategoryName</label>
         <InputText @bind-Value="newContact.SubCategory" />
        
        <button type="submit">Submit</button>
    </EditForm>
}

@code { // quick handler function

    private async void Submit() { 
        Console.WriteLine("{0}\n{1}\n{2}\n{3}\n{4}", newContact.FirstName,
        newContact.LastName,newContact.Email,newContact.PhoneNumber, newContact.DateOfBirth);
        await Create(newContact);
    }
}


@if (expandedContacts == null) {
	<h3>Ładowanie kontaktów...</h3>
}
else
{
	<h3>Kontakty</h3>
	<div class="row mt-3">
    
        

    @foreach (var item in expandedContacts)
	{
        <div class="card w-50">
            <div class="card-body">
                    @if (!item.Value.expanded) // if contact is not expanded
                    {
                <h5 class="card-title">@item.Key.FirstName @item.Key.LastName</h5>
                    <p  class="card-text">
                        E-Mail: @item.Key.Email
                        <br />
                        Telefon: @item.Key.PhoneNumber
                        <br/>
                        Kategoria: @item.Key.CategoryName
                        </p>

                    <button @onclick="() => ToggleExpanded(item.Key)" class="btn btn-primary" type="button">
                        @(item.Value.expanded ? "Schowaj" : "Więcej")
                        </button>
                    

                    }
                    else // contact expanded, either editing or just plain text
                    {  
                        @if (item.Value.editing){

                            <EditForm Model="item.Value.editingModel" >
                                <label>Imię</label>
                                <InputText @bind-Value="item.Value.editingModel.FirstName" />
                                <br />
                                <label>Nazwisko</label>
                                <InputText @bind-Value="item.Value.editingModel.LastName" />
                                <br />
                                <label>Email</label>
                                <InputText @bind-Value="item.Value.editingModel.Email" />
                                <br />
                                <label>Numer Telefonu</label>
                                <InputText @bind-Value="item.Value.editingModel.PhoneNumber" />
                                <br />
                                <label>Data narodzin</label>
                                <input type="date" @bind="item.Value.editingModel.DateOfBirth" />
                                <br />
                                <label>Kategoria</label>
                                <select @bind="item.Value.editingModel.CategoryId">
                                    <!-- TODO: switch to InputSelect-->
                                    @foreach (var category in Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                                <br />
                                <label>PodKategoria</label>
                                <InputText @bind-Value="item.Value.editingModel.SubCategory" />
                           </EditForm>
                           
                            <button @onclick="() => ToggleEdit(item)" class="btn btn-primary" type="button"> Cofnij </button>
                            <button @onclick="() => Edit(item.Value.editingModel)" class="btn btn-primary" type="button"> Zapisz </button>
                            <button @onclick="() => Delete(item.Key)" style="background:red;" class="btn btn-primary" type="button"> Usuń </button>

                        }else{
                        <h5 class="card-title">@item.Key.FirstName @item.Key.LastName</h5>
                        <p class="card-text">
                            E-Mail: @item.Key.Email
                            <br />
                            Telefon: @item.Key.PhoneNumber
                            <br />
                            Kategoria: @item.Key.CategoryName
                        </p>
                        <p  class="card-text">
                            PodKategoria: @item.Key.SubCategory
                            <br/>
                            id: @item.Key.Id
                            <br/>
                            Urodzenie: @item.Key.DateOfBirth</p>
                        <button @onclick="() => ToggleExpanded(item.Key)" class="btn btn-primary" type="button">
                            @(item.Value.expanded ? "Schowaj" : "Więcej")
                        </button>
                        <AuthorizeView >
                               <Authorized>
                        <button @onclick="() => ToggleEdit(item)" class="btn btn-primary" type="button"> Edytuj </button>
                        <button @onclick="() => Delete(item.Key)" style="background:red;" class="btn btn-primary" type="button"> Usuń </button>
                                </Authorized>
                            </AuthorizeView>
                        }
                    }
            </div>
        </div>
	}
	</div>


}
