@page "/"   
@inherits ContractsBase

<AuthorizeView>
    <Authorized>
        <p>Hello, @userDTO.Username! YOU ARE LOGGED IN</p>
    </Authorized>
    <NotAuthorized>
       <p> You are not logged in!</p>
        <br />
        Username:
        <br />
        <input @bind="userDTO.Username" />
        <br />
        Password:
        <br />
        <input @bind="userDTO.Password" />
        <br />
        <button @onclick="Login">Login</button>
        <button @onclick="Register">Register</button>
        <br>
    </NotAuthorized>
    <Authorizing>
        <p>Wait...</p>
    </Authorizing>
</AuthorizeView>




@if (Contacts == null) {
	<h3>Ładowanie kontaktów...</h3>
}
else
{
	<h3>Kontakty</h3>
	<div class="row mt-3">
	@foreach(var i in Contacts)
	{
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">@i.FirstName @i.LastName</h5>
                    <p  class="card-text">E-Mail: @i.Email <br />
                        Telefon: @i.PhoneNumber</p>
                <blockquote class="card-text">Kategoria: @i.CategoryName</blockquote>
                @if (buttonTest)
                {
                    <button @onclick="checkAuth" class="btn btn-primary" type="button">Więcej</button>
                }
            </div>
        </div>
	}
	</div>


}
